@model List<University.BL.DTOs.StudentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("New", "Create", "Students", null, new { @class = "btn btn-primary" })
<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>LastName</th>
            <th>FirstMidName</th>
            <th>EnrollmentDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.LastName</td>
                <td>@item.FirstMidName</td>
                <td>@item.EnrollmentDate</td>
            </tr>

        }
    </tbody>
</table>

@if (ViewBag.Data != null && ViewBag.message != null)
{
    <ul>
        <li>@ViewBag.Data</li>
        <li>@ViewBag.message</li>
    </ul> 
}